:root{
    --color-primary:  #E50914;
    --color-formu: rgba(255, 255, 255, 0.08);
    --color-text:#888888;
    --color-direc: #cccccc;
}

.formu{
    background-color: var(--color-formu);
   border: 1px solid var(--color-text);
    &::placeholder{
color: var(--color-text);
    }

    &:focus{
        background-color: var(--color-formu);
        color: var(--color-text);

    }
}

.btn-env{
    background-color: var(--color-primary);
    color: white;
    text-align: center;
}

.bg-robot{
    background-color: var(--color-primary);
    padding: 15px;
    color: #e68a8e;
    border-radius: 5px;
}

.bg-title{
    color: var(--color-text);
}

.bg-direc{
    color: var(--color-direc);
}

h2{
    font-family: 'Poppins', sans-serif;
    
}