

.contenedor-principal{
    margin:30px;
   
}
.elegi-plan{
    font-family: var(--font-primary);
}
.color-box{
    background-color: var(--color-surface);
}
.color-box:hover{
  transform: translateY(-8px) scale(1.03); 
}

.color-texto{
    color:var(--color-text-secondary);
}
.color-popular{
    border: 2px solid var(--color-primary);
    position: relative;
}
.etiqueta-popular{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--color-text-primary);
    background-color: var(--color-primary);
    font-family: var(--font-primary);
}
.color-tilde{
    i{
        color: var(--color-primary);
    }
}
@media (width >=1024px) {
.tamaño-form{
    width: 100% !important;
}
}

.color-formulario{
    background-color: var(--color-border);
    color: var(--color-text-primary);
    border: 3px solid var(--color-border)
}
.color-text-formulario{
    color: var(--color-text-muted) ;
}
.color-boton{
    border: none;
    background-color: var(--color-primary);
       
   
         color: var(--color-text-primary);
         
    
    &:hover{
        transform: translateY(0px) scale(1.01); 
    }
}

#nombre{
    &:hover{
     transform: translateY(0px) scale(1.01); 
     border: 3px solid var(-color-border);
}
    &:focus{
        box-shadow: 0 0 0 0.25rem rgba(229, 9, 20, 0.25);;
        border: 3px solid var(--color-primary);
        outline: 0;
}
}
#apellido{
    &:hover{
     transform: translateY(0px) scale(1.01); 
     border: 3px solid var(-color-border);
}
    &:focus{
        box-shadow: 0 0 0 0.25rem rgba(229, 9, 20, 0.25);;
        border: 3px solid var(--color-primary);
        outline: 0;
}
}
#email{
    &:hover{
     transform: translateY(0px) scale(1.01); 
     border: 3px solid var(-color-border);
}
    &:focus{
        box-shadow: 0 0 0 0.25rem rgba(229, 9, 20, 0.25);;
        border: 3px solid var(--color-primary);
        outline: 0;
}
}
#contraseña{
    &:hover{
     transform: translateY(0px) scale(1.01); 
     border: 3px solid var(-color-border);
}
    &:focus{
        box-shadow: 0 0 0 0.25rem rgba(229, 9, 20, 0.25);;
        border: 3px solid var(--color-primary);
        outline: 0;
}
}
